/* Sidebar */

.sidebar {
    position: fixed;
    top:    0;
    left:   0;
    bottom: 0;
    width:  18rem;
    text-align: left;
    padding: 10rem 2rem;
    color: rgba(255,255,255,0.5);
    background-color: #202020;
    /* border-color: #202020;
    border-style:solid;
    border-width:2px; */
}

@media (max-width: 48em) {
    .sidebar {
        position: static;
        width: auto;
        padding: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }
}



.sidebar a {
    text-decoration: none;
    color: #ffffff;
}

.sidebar-title {
    color: #ffffff;
    margin-top: 0;
    font-family: "Abril Fatface", serif;
    font-size: 1.25rem;
}

.sidebar-title h1 {
    font-weight:normal;
}


.sidebar-links {
    margin-top:     1rem;
    margin-bottom:  1rem;
}
.sidebar-links-item {
    display: block;
    line-height: 1.5;
    font-size: 1.25rem;
}

a.sidebar-links-item:hover,
a.sidebar-links-item:focus {
    text-decoration: underline;
}
.sidebar-links-item.active {
    font-weight: bold;
}


/* sidebar-icons */
.sidebar-icons {
    display: inline-block;
    font-size: 2rem;
    margin: 0;
    position: absolute;
    bottom: 5rem;
}

@media (max-width: 48em) {
    .sidebar-icons {
        position: static;
    }
}







