<div class="sidebar">

    <div class="sidebar-title">
        <h1><a href="{{ site.github.url }}">{{ site.title }}</a></h1>
    </div>

    <div class="sidebar-about">
        <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-links">
        {% comment %}
            variable {{ page.url }} change with permalink setting in each page
            for example: code " permalink: 'about/' " has been written in file "pages/about"
                         then {{ page.url }} for about page will become {{ baseurl | append:'about/' }}
        {% endcomment %}

        {% assign HomeUrl       = site.github.url %}
        {% assign ArchivesUrl   = site.github.url | append:'/archives/' %}
        {% assign CategoriesUrl = site.github.url | append:'/categories/' %}
        {% assign TagsUrl       = site.github.url | append:'/tags/' %}
        {% assign AboutUrl      = site.github.url | append:'/about/' %}
        {{ page.url }}
        <br/>
        {{ HomeUrl }}
        <a class="sidebar-links-item {% if page.url == HomeUrl %}active{% endif %}"         href="{{ site.github.url }}">Home</a>
        <a class="sidebar-links-item {% if page.url == ArchivesUrl %}active{% endif %}"     href="{{ site.github.url }}/archives/">Archives</a>
        <a class="sidebar-links-item {% if page.url == CategoriesUrl %}active{% endif %}"   href="{{ site.github.url }}/categories/">Categories</a>
        <a class="sidebar-links-item {% if page.url == TagsUrl %}active{% endif %}"         href="{{ site.github.url }}/tags/">Tags</a>
        <a class="sidebar-links-item {% if page.url == AboutUrl %}active{% endif %}"        href="{{ site.github.url }}/about/">About</a>
    </nav>

    <nav class="sidebar-icons">

        <a id="github-link"
            class="icon" title="Github" aria-label="Github"
            href="{{ site.github.url }}">
            {% include svg/github.svg %}
        </a>

        <a id="github-download-link"
            class="icon" title="Download" aria-label="Download"
            href="{{ site.github.url }}">
            {% include svg/download.svg %}
        </a>

        <a id="subscribe-link"
            class="icon" title="Subscribe" aria-label="Subscribe"
            href="{{ site.github.url }}">
            {% include svg/feed.svg %}
        </a>

        {% comment %}
            Check if we have tag or search pages page active before linking to it.
        {% endcomment %}
        {% assign tags_page = false %}
        {% assign search_page = false %}
        {% for node in site.pages %}
            {% if node.layout == "tags" %}
                {% assign tags_page = node %}
            {% elsif node.layout == "search" %}
                {% assign search_page = node %}
            {% endif %}
        {% endfor %}

        <a id="tags-link"
            class="icon {% if page.url == '/tags' %} active{% endif %}"
            title="Tags" aria-label="Tags"
            href="{{ site.github.url }}">
            {% include svg/tags.svg %}
        </a>

        <a id="search-link"
            class="icon {% if page.url == '/search' %} active{% endif %}"
            title="Search" aria-label="Search"
            href="{{ site.github.url }}/search/">
            {% include svg/search.svg %}
        </a>

        <a id="search-link"
            class="icon {% if page.url == '/search' %} active{% endif %}"
            title="Search" aria-label="Search"
            href="{{ site.github.url }}/search/">
            {% include svg/email.svg %}
        </a>

    </nav>

</div>

