.content {
    max-width: 48rem;
    margin-left: 24rem;

    margin-right: 2rem;
    border-style:solid;
	border-width:0px;
}
@media (max-width: 48em) {
    .content {
        margin: 0;
        max-width: auto;
    }
}
