---
layout:     default
title:      Tags
permalink:  '/tags/'
---

<h1 class="main-pages-title">{{ page.title }}</h1>

<ul class="main-pages-link">
    {% for tag in site.tags %}
    <li>
        <a class="main-pages-link-item" href="#{{ tag | first }}">{{ tag | first }}</a>
        <sup>{{ tag | last | size }}</sup>
    </li>
    {% endfor %}
</ul>

<hr class="page-dividing-line"/>

<ul class="main-pages-list">
    {% for tag in site.tags %}
    <li id="{{ tag | first }}"><h2>{{ tag | first }}</h2></li>
        <ul class="main-pages-sub-list">
            {% for post in tag.last %}
                <li class="listing-item">
                    <span class="main-pages-list-time">{{ post.date | date:"%Y-%m-%d" }}</span>
                    <a class="main-pages-list-post-title" href="{{ site.github.url }}/{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>